<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shopping Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{js/cart.js}"></script>
    <link th:href="@{style/cart.css}" rel="stylesheet">
</head>

<body>
<header>
    <div class="top-nav">
        <a class="active" th:href="@{/home-page-customer}">Home</a>
        <a th:if="${login}" th:href="@{/add-product}">New</a>
        <a th:if="${login}" th:href="@{/edit-product}">Edit</a>
        <a th:href="@{/cart-product}">Cart</a>
        <a th:unless="${login}" th:href="@{/login}" id="staff-login">Login</a>
        <a th:if="${login}" th:href="@{/order}">Order</a>
        <a th:if="${login}" th:href="@{/logout}">Logout</a>
    </div>
</header>
<section>
    <div class="container">
        <h2 class="px-5 p-2">My shopping cart</h2>
        <div class="announce-no-product-container">
            <h5 class="announce-no-product" th:if="${cart.size() == 0}">Bạn chưa có sản phẩm nào trong giỏ hàng</h5>
        </div>
        <div class="cart">
            <div class="col-md-12 col-lg-10 mx-auto">
                <th:block th:each=" item : ${cart}">
                    <form th:action="@{/cart-delete-item}" method="post">
                        <div class="cart-item cart-item-render">
                            <div class="row">
                                <div class="product-code">
                                    <label for="id">Mã sản phẩm</label>
                                    <input type="text" name="id" id="id" th:value="${item.getProduct().getId()}">
                                </div>
                                <div class="col-md-7 center-item">
                                    <img th:src="'data:image/jpeg;base64,'+${item.getProduct().getImage()}" alt="">
                                    <h5 th:text="${item.getProduct().getName()}"></h5>
                                </div>

                                <div class="col-md-5 center-item">
                                    <div class="size-product">
                                        <h5 class="size-product">Size: <span th:text="${item.getSize()}"></span></h5>
                                    </div>
                                    <div class="input-group number-spinner">
                                        <input id="phone-number" type="number" min="1" class="form-control text-center"
                                               th:value="${item.getQuantity()}">
                                    </div>
                                    <h5><span id="phone-total" th:text="${item.getProduct().getPrice()}"></span> VND
                                    </h5>
                                </div>
                            </div>
                            <input type="submit" value="Xoá" class="remove-item">
                        </div>
                    </form>
                </th:block>
                <div class="cart-item" id="total-money">
                    <div class="row g-2">

                        <div class="col-6">
                            <h5>Total:</h5>
                        </div>

                        <div class="col-6 status">
                            <h5><span id="sub-total" th:text="${count}"></span>VND</h5>
                        </div>

                    </div>
                </div>
                <form th:action="@{/payment}" method="post">
                    <div class="col-md-12 pt-4 pb-4">
                        <input type="submit" class="btn btn-success check-out" id="pay" value="Đặt Hàng" disabled="true">
                    </div>
                    <div class="customer-information">
                        <div class="out-of-input-customer">
                            <label class="label-for-input" for="name">Họ và Tên</label><br>
                            <input class="customer-input" type="text" name="customer-name" id="name">
                        </div>
                        <div class="out-of-input-customer">
                            <label class="label-for-input" for="phone">Số điện thoại</label><br>
                            <input class="customer-input" type="text" name="customer-phone" id="phone">
                        </div>
                        <div class="out-of-input-customer">
                            <label class="label-for-input" for="address">Địa chỉ</label><br>
                            <input class="customer-input" type="text" name="customer-address" id="address">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>