<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style/login.css}">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>
<form th:action="@{/check-login}" method="post">
    <div class="form-field">
        <input type="email" placeholder="Email / Username" required name="email"/>
    </div>

    <div class="form-field">
        <input type="password" placeholder="Password" required name="password"/>
    </div>

    <div class="form-field">
        <input class="btn" type="submit" value="Login">
    </div>
    <div class="announce-incorrect-info">
        <h5 th:if="${incorrect}">Sai Thông Tin Đăng Nhập</h5>
    </div>
</form>
</body>
</html>